@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');

#userForm {
  margin-top: 9%;
  margin-left: 10%;
  background-color: #1c1c1c;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
  width: 100%;
  max-width: 80%;
  padding: 2.5rem;
  border-radius: 12px;
  border: 1px solid #660000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#userForm .form-label {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #660000;
}

#userForm:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.705);
}
/* Garante que o input-group tenha o mesmo tamanho */
div.input-group.input-group-sm {
  width: 100% !important;
}

/* Impede que o input quebre o layout */
div.input-group.input-group-sm .form-control {
  min-width: 0 !important;
}

#togglePassword {
  background-color: #660000;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  transition: all 0.3s ease;
}

#buttonEnter {
  background-color: #660000;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 6px;
  width: 100%;
  padding: 0.6rem;
  border: none;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  transition: all 0.3s ease;
}

#userForm button.btn:hover {
  background-color: #ff0000c5;
  transform: scale(1.05);
  color: white;
}

#togglePassword {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 10%;
  left: 2px;
}

.input-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}